# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#latex
*.pdf
*.aux
*.bbl
*.bcf
*.blg
*.lof
*.log
*.lot
*.run.xml
*.synctex.gz
*.toc

#mac
.DS_Store

#R

